.btn-outline-primary {
  border: none;
  outline: none;
  background-color: transparent;
  color: #007bff;
}

.btn-outline-danger {
  border: none;
  outline: none;
  background-color: transparent;
  color: #dc3545;
}

.btn-outline-primary:focus,
.btn-outline-danger:focus {
  box-shadow: none;
  outline: none;
}

.btn-outline-primary:hover,
.btn-outline-danger:hover {
  background-color: transparent;
}
